body {
	font-family:"Times New Roman",Georgia,Serif;
	padding-top: 0px;
  	padding-bottom: 20px;
 	background-color:#eee;
  	color: #fff;
	margin: 0;
}

ol, dl { 
	padding: 0;
	margin: 0;
}

a img { 
	border: none;
}

h3{
	margin-top: 0px;
}

.content a:link {
	font-weight:bold;
	color:#000;
	text-decoration: underline; 
}
.content a:visited {
	color: #000;
	text-decoration: underline;
}
.content a:hover, a:active, a:focus { 
	text-decoration: underline;
}

.headerRight a:link {
	color:#336633;
	text-decoration: underline; 
}
.headerRight a:visited {
	color:#336633;
	text-decoration: underline;
}
.headerRight a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 100%;
	margin: 0 auto;
	
}

.headerRight {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
  	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #cccc66;
	color:#336633;
}

.headerMain{

	font-size: 80px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
  	padding-right: 15px;
	margin-top: 50px;
	margin-bottom: -90px;
	color:#336633;
}

.headerLeft{
	position: absolute;
	right: 0;
	padding-right: 15px;
}

.content {
	padding: 10px 0;
	width: 100%;
	float: left;
}

.innercontent{
	 text-align: center;
     width:350px;
     margin: 0 auto;
     margin-top: 150px;
     padding: 25px;
     -moz-border-radius: 15px;
	 border-radius: 15px;
	 border-width: 1px;
	 border-style: solid;
	 border-color: #336633;
     background:#fff;
     color: #000;
     box-shadow: 5px 5px 5px #888888;
}

.qcontent{
	 text-align: center;
     width:850px;
     margin: 0 auto;
     margin-top: 50px;
     padding: 25px;
     -moz-border-radius: 15px;
	 border-radius: 15px;
	 border-width: 1px;
	 border-style: solid;
	 border-color: #336633;
     background:#fff;
     color: #000;
     box-shadow: 5px 5px 5px #888888;
}
